.card {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 5px 0vw;
}

.icon {
    height: 32px;
    margin-right: 5px;
}

.svg {
    height: 32px;
    margin-left: -5px;
}

.title {
    min-width: 100px;
    margin-right: 5px;
    margin-bottom: 0;
    font-size: small;
}

.btn {
    margin-left: auto;
}