.card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    max-height: 300px;
    border: 5px solid rgb(173, 173, 173);
    margin: 10px;
}

.img {
    width: auto;
    max-width: 150px;
    margin: 20px;
}

.text {
    margin: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    flex-grow: 1;
}

.btn {
    /* margin-top: auto; */
    /* align-self: flex-end; */
    width: 10rem;
    margin-right: 10px;
    margin-bottom: 30px;
}