.app {
    margin: 5vh 5vw;
    position: relative;
}

.container {
    display: flex;
    flex-flow: row nowrap;
}

.left {
    flex-grow: 3;
    min-width: 200px;
}

.right {
    flex-grow: 1;
    min-width: 200px;
}

.alert {
    
    position: -webkit-sticky;
    position: sticky;
    top: 10px;

    z-index: 2;
}